<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>


    <div class="container mt-4">
        <div class="row">

            <% for(let i=0; i < products.length; i++) {%>
                <div class="col-auto mb-3">
                    <div class="card" style="width: 18rem;">
                        <% let
                            obj={Fruits: "http://www.globaltimes.cn/Portals/0/attachment/2011/d41d2c60-db4b-4dcb-ae19-8fe5e5b9e52c.jpg"
                            , Vegetables:"https://i.pinimg.com/originals/f8/79/7e/f8797e816adf5c52306426100d830a95.jpg",
                            Oils:"https://www.etipbioenergy.eu/images/Starch%20Crops%20pictures/Sonnenblumenfeld.jpg?1510229915942",
                            Millets:"https://www.etipbioenergy.eu/images/Starch%20Crops%20pictures/Sonnenblumenfeld.jpg?1510229915942", "Dairy Products"
                            :"https://i.ytimg.com/vi/p_rtdPtdmAU/maxresdefault.jpg"} %>
                            <% let crop=products[i].category %>
                                <img class="card-img-top" src="<%= obj[crop] %>" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= products[i].category %>
                                    </h5>
                                    <h5 class="card-title">
                                        <%= products[i].product %>
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <%= products[i].price %>
                                    </h6>
                                    <p class="card-text">
                                        <%= products[i].description %>
                                    </p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                    </div>
                </div>
                <% } %>




        </div>
    </div>
</body>

</html>